@import 'tailwindcss';

@theme {
  --color-primary: oklch(0.457 0.24 277.023);
  --color-secondary: oklch(0.518 0.253 323.949);
  --color-success: oklch(0.527 0.154 150.069);
  --color-danger: oklch(0.505 0.213 27.518);
}

h1 {
  @apply text-7xl py-3 m-3;
}

h2 {
  @apply text-5xl py-2.5 m-2.5;
}

h3 {
  @apply text-4xl py-2 m-2;
}

h4 {
  @apply text-3xl py-1.5 m-1.5;
}

h5 {
  @apply text-2xl py-1 m-1;
}

h6 {
  @apply text-xl py-0.5 m-0.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold;
}

ul {
  @apply list-disc ml-4;
}

body {
  @apply bg-black text-white;
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
