@import 'tailwindcss';

@theme {
  --color-primary: oklch(0.457 0.24 277.023);
  --color-secondary: oklch(0.518 0.253 323.949);
  --color-success: oklch(0.527 0.154 150.069);
  --color-danger: oklch(0.505 0.213 27.518);
}

body {
  background-color: var(--color-black);
  color: var(--color-white);
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
